<% if participant_signed_in? %>
<div class="page-header" id="secondheader">
<div id="navi">
<ul class="nav nav-pills">
  <li role="presentation"><a href=<%= "/participants/#{current_participant[:id]}/summary"%>>Summary</a></li>
  <li role="presentation"><a href=<%= "/participants/#{current_participant[:id]}/profile"%>>Profile</a></li>
  <li role="presentation"><a href=<%= "/participants/#{current_participant[:id]}/activities"%>>My Activity</a></li>
  <li role="presentation"><a href=<%= "/participants/#{current_participant[:id]}/ideas"%>>My Ideas</a></li>
</ul>
</div>
</div>

<% end %>

<br>
<br>
<div class="container">

<h4 style="margin-top:-20px;text-align:center;"><span class="glyphicon glyphicon-map-marker"></span>&nbsp <%= @city_name%></h4>
<br>
<br>
<div class="row" id="row_activity">
<% @activities.each do |activity| %>
    <div class="col-md-3">
      <div class="thumbnail">
        <a href=
          <% if participant_signed_in? %>
            <%= "/participants/#{current_participant.id}/activities/#{activity.id}"%>
          <% elsif organizer_signed_in? %>
            <%= "/organizers/#{current_organizer.id}/activities/#{activity.id}"%>
          <% else %>
            <%= "/participants/sign_in" %>
          <% end %>
        >
            <%= image_tag(activity.avatar.url(:large))if activity.avatar? %>
        </a>  
        <div class="caption text-center">
          <h4><%= activity.name%></h4>
          <p class="description">
            <%= activity.description %>
          </p>
        </div>
      </div>

    </div>
<% end %>

</div>
<br>

<div class="row" id="row_idea">
<% @ideas.each do |idea| %>
    <div class="col-md-3">
      <p class="text-center">
      	<button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="<%= idea.description%>"><%= idea.title %></button>
      </p>
    </div>
<% end %>
</div>
</div>
<br>
<script type="text/javascript">
	$(function () {
	  $('[data-toggle="tooltip"]').tooltip()
	})
</script>