<% if participant_signed_in? %>
<div class="page-header" id="secondheader">
<div id="navi">
<ul class="nav nav-pills">
  <li role="presentation"><a href=<%= "/participants/#{current_participant[:id]}/summary"%>>Summary</a></li>
  <li role="presentation"><a href=<%= "/participants/#{current_participant[:id]}/profile"%>>Profile</a></li>
  <li role="presentation"><a href=<%= "/participants/#{current_participant[:id]}/activities"%>>My Activity</a></li>
  <li role="presentation"><a href=<%= "/participants/#{current_participant[:id]}/ideas"%>>My Ideas</a></li>
</ul>
</div>
</div>

<% end %>

<br>
<br>
<div class="container">

<h4 class="h4" style="margin-top:-20px;text-align:center;">ACTIVITY &nbsp &nbsp &nbsp<span class="glyphicon glyphicon-map-marker"></span>&nbsp <%= @city_name%></h4>
<br>
<br>
<div class="row" id="row_activity">
<% @activities.each do |activity| %>
    <div class="col-md-3">
      <div class="thumbnail">
        <a href=
          <% if participant_signed_in? %>
            <%= "/participants/#{current_participant.id}/activities/#{activity.id}"%>
          <% elsif organizer_signed_in? %>
            <%= "/organizers/#{current_organizer.id}/activities/#{activity.id}"%>
          <% else %>
            <%= "/participants/sign_in" %>
          <% end %>
        >
            <%= image_tag(activity.avatar.url(:large)) %>
            <div class="caption text-center">
              <h4><%= activity.name%></h4>
            </div>
        </a>  
      </div>
    </div>
<% end %>

<div class="clear"></div>
<br>
<%= will_paginate(@activities) %>
</div>



<br>
<div class="allidea">
  <h4 class="h4">IDEAS</h4>
    <% if @ideas.length > 0 %>
      <div class="col-md-3">
      <% @idea = @ideas[0] %>
      <%= link_to ideas_path(idea_id: @idea.id) do %>
        <div class="idea idea4">     
          <%= image_tag(("4.png"), :class => "pegen") %>
          <p class="text-center text1" data-toggle="tooltip" data-placement="top" title="<%= @idea.description%>">
            <%= @idea.title %>
          </p> 
        </div>
      <% end %>
    </div>
    <% end %>
    
    <% if @ideas.length > 1 %>
      <div class="col-md-3">

      <% @idea = @ideas[1] %>
      <%= link_to ideas_path(idea_id: @idea.id) do %>
      <div class="idea idea5" >     

        <%= image_tag(("1.png"), :class => "pegen") %>
        <p class="text-center text2" data-toggle="tooltip" data-placement="top" title="<%= @idea.description%>">
          <%= @idea.title %>
        </p>
      </div> 
      <% end %>
    </div>
    <% end %>

    <% if @ideas.length > 2 %>
      <div class="col-md-3">
      <% @idea = @ideas[2] %>
      <%= link_to ideas_path(idea_id: @idea.id) do %>
      <div class="idea idea6">     

        <%= image_tag(("2.png"), :class => "pegen") %>
        <p class="text-center text3" data-toggle="tooltip" data-placement="top" title="<%= @idea.description%>">
          <%= @idea.title %>
        </p>
      </div>
      <% end %>
    </div>
    <% end %>

    <% if @ideas.length > 3%>
      <div class="col-md-3">

      <% @idea = @ideas[3] %>
      <%= link_to ideas_path(idea_id: @idea.id) do %>
      <div class="idea idea7">     

        <%= image_tag(("3.png"), :class => "pegen") %>
        <p class="text-center text4" data-toggle="tooltip" data-placement="top" title="<%= @idea.description%>">
          <%= @idea.title %>
        </p>
      </div>  
      <% end %>
    </div>
    <% end %>


  <div class="clear"></div>
  <br>
  <br>
  <br>
</div>

</div>
<br>
<script type="text/javascript">
	$(function () {
	  $('[data-toggle="tooltip"]').tooltip()
	})
</script>