<% if participant_signed_in? %>
<div class="page-header">
<div id="navi">
<ul class="nav nav-pills">
  <li role="presentation"><a href=<%= "/participants/#{current_participant[:id]}/summary"%>>Summary</a></li>
  <li role="presentation"><a href=<%= "/participants/#{current_participant[:id]}/profile"%>>Profile</a></li>
  <li role="presentation"><a href=<%= "/participants/#{current_participant[:id]}/activities"%>>My Activity</a></li>
  <li role="presentation"><a href=<%= "/participants/#{current_participant[:id]}/ideas"%>>My Ideas</a></li>
</ul>
</div>
</div>

<% end %>

<div class="container">

<h4 style="margin-top:-20px;text-align:center;"><span class="glyphicon glyphicon-map-marker"></span>&nbsp <%= @city_name%></h4>
<br>
<div class="row">
<% @activities.each do |activity| %>
    <div class="col-md-3">
      <a class="thumbnail" href=<%= "/activities/#{activity.id}"%>>
          <%= image_tag(activity.avatar.url(:large)) if activity.avatar? %>
      </a>  
      <p class="text-center">
        <%= activity.name%>
      </p>
    </div>
<% end %>
</div>

<div class="row">
<% @ideas.each do |idea| %>
    <div class="col-md-3">
      <p class="text-center">
      	<button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="<%= idea.description%>"><%= idea.title %></button>
      </p>
    </div>
<% end %>
</div>

</div>

<script type="text/javascript">
	$(function () {
	  $('[data-toggle="tooltip"]').tooltip()
	})
</script>