<div class="page-header">
<div id="navi">
<ul class="nav nav-pills">
  <li role="presentation"><a href=<%= "/participants/#{@participant.id}/summary"%>>Summary</a></li>
  <li role="presentation"><a href=<%= "/participants/#{@participant.id}/profile"%>>Profile</a></li>
  <li role="presentation"><a href=<%= "/participants/#{@participant.id}/activities"%>>My Activity</a></li>
  <li role="presentation"><a href=<%= "/participants/#{@participant.id}/ideas"%>>My Ideas</a></li>
</ul>
</div>
</div>

<a href=<%= "/participants/#{@participant.id}/ideas/new"%>>Create Idea</a>
<br>
<a href=<%= "/ideas" %>>Ideas</a>

<div class="container">
<div class="row">
<% @activities.each do |activity| %>
    <div class="col-md-3">
      <a class="thumbnail">
          <%= image_tag(activity.avatar_url) if activity.avatar? %>
      </a>  
      <p class="text-center">
        <%= activity.name%>
      </p>
    </div>
<% end %>
</div>

<div class="row">
<% @ideas.each do |idea| %>
    <div class="col-md-3">
      <p class="text-center">
      	<button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="<%= idea.description%>"><%= idea.title %></button>
      </p>
    </div>
<% end %>
</div>

</div>

<script type="text/javascript">
	$(function () {
	  $('[data-toggle="tooltip"]').tooltip()
	})
</script>