<%= form_for @participant, url: participant_profile_path(@participant), 
                          multipart: true, method: :patch do |f| %>
  <div class="form-group">
    <%= f.label :name, "Name" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :nickname, "Nickname" %>
    <%= f.text_field :nickname, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :gender, "Gender" %>
    <%= f.text_field :gender, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :age, "Age" %>
    <%= f.text_field :age, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :phone, "Phone" %>
    <%= f.text_field :phone, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :address, "Address" %>
    <%= f.text_field :address, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :avatar, "Image" %>
    <%= image_tag(@participant.avatar.url(:thumb)) if @participant.avatar? %>
    <%= f.file_field :avatar %>
    
  </div>

  <%= f.submit "Submit", { class: 'btn btn-primary', disable_with: 'Submiting...' } %>
  <%= link_to "Cancel", participant_profile_path(@participant), 
      class: 'btn btn-default', remote: true %>
<% end %>

