<% cache(@participant) do%>
<div id="profile">
  <div class="headpic">
    <h3 class="headpic-top text-center"><%= @participant.name %></h3>

    <%= link_to edit_participant_profile_path(@participant) do %>
      <% if @participant.avatar? %>
        <%= image_tag(@participant.avatar.url(:thumb), :class => "headpotrait") %>
      <% else %>
        click to edit
      <% end %>
    <% end %>
  
    <div class="straightline"></div>
    <div class="straightline"></div>

    <h4 class="headpic-topleft text-center">
      <span class="glyphicon glyphicon-user"></span>
      Nickname&nbsp;&nbsp;<%= @participant.nickname %>
    </h4>

    <h4 class="headpic-topright text-center">
      <span class="glyphicon glyphicon-grain"></span>
      Gender&nbsp;
      <% if @participant.gender == 1 %>
        M
      <% elsif @participant.gender == 0 %>
        F
      <% end %>
      &nbsp;&nbsp;
      <span class="glyphicon glyphicon-apple"></span>
      Age&nbsp;<%= @participant.age %>
    </h4>

    <h4 class="headpic-bottomleft text-center">
      <span class="glyphicon glyphicon-phone"></span>
      Phone&nbsp;&nbsp;<%= @participant.phone %>
    </h4>

    <h4 class="headpic-bottomright text-center">
      <span class="glyphicon glyphicon-tree-deciduous"></span>
      Address&nbsp;&nbsp;<%= @participant.address %>
    </h4>

  </div>
</div>
<% end %>
<script type="text/javascript">
  $('#profile .headpic h4').hide().delay(2000).fadeIn(1000);
  setTimeout(function() {
    $('#profile .headpic').addClass('headpic-container', {
       duration: 1000,
       children: true
    });
  }, 1000);
</script>


