<div id="profile">
  <ul>
    <li>
      <header class="profile_context"><b>Name</b></header>
      <p><%= @participant.name %></p>
    </li>
    <li>
      <header class="profile_context"><b>Nickname</b></header>
      <p><%= @participant.nickname %></p>
    </li>
    <li>
      <header class="profile_context"><b>Gender</b></header>
      <p><%= @participant.gender %></p>
    </li>
    <li>
      <header class="profile_context"><b>Age</b></header>
      <p><%= @participant.age %></p>
    </li>
    <li>
      <header class="profile_context"><b>Phone</b></header>
      <p><%= @participant.phone %></p>
    </li>
    <li>
      <header class="profile_context"><b>Address</b></header>
      <p><%= @participant.address %></p>
    </li>
    <li>

    <header>Image</header>
    <p>&nbsp</p>
    <div><%= image_tag @participant.avatar.url(:medium) if @participant.avatar? %></diqv>

    </li>
  </ul>

  <br>
  <br>
  <%= link_to "Edit", edit_participant_profile_path(@participant), 
      class: "btn btn-primary edit", remote: true %>
</div>
</div>


