
<div id="profile">
  <ul>
    <div class="headpic"><%= image_tag(@participant.avatar.url(:medium), :class => "headpotrait") if @participant.avatar? %></div>

    <h3 style="text-align:center;"><strong><%= @participant.name %></strong></h3>
    <br>
    <h4 style ="text-align:center;">
      <span class="glyphicon glyphicon-user">&nbsp;Nick&nbsp;<%= @participant.nickname %></span>&nbsp;&nbsp;&nbsp;&nbsp;
      <span class="glyphicon glyphicon-grain">&nbsp;Gender&nbsp;<%= @participant.gender %></span>&nbsp;&nbsp;&nbsp;&nbsp;
      <span class="glyphicon glyphicon-apple">&nbsp;Age&nbsp;<%= @participant.age %></span>

    </h4>
    <br>
    <h4 style="text-align:center;"><span class="glyphicon glyphicon-phone">&nbsp;Phone&nbsp;<%= @participant.phone %></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span class="glyphicon glyphicon-tree-deciduous">&nbsp;Address&nbsp;</span><%= @participant.address %>
    </h4>

  </ul>

  <br>
  <br>
  <%= link_to "Edit", edit_participant_profile_path(@participant), 
      class: "edit btn btn-primary", remote: true %>
</div>
</div>


