<div class="page-header" id="secondheader">
<div id="navi">
<ul class="nav nav-pills">
  <li role="presentation"><a href=<%= "/participants/#{current_participant[:id]}/summary"%>>Summary</a></li>
  <li role="presentation" class="activeo"><a href=<%= "/participants/#{current_participant[:id]}/profile"%>>Profile</a></li>
  <li role="presentation"><a href=<%= "/participants/#{current_participant[:id]}/activities"%>>My Activity</a></li>
  <li role="presentation"><a href=<%= "/participants/#{current_participant[:id]}/ideas"%>>My Ideas</a></li>
</ul>
</div>
</div>

<div class="container">
<div id="participant-<%= @participant.id %>">
  	<%= render 'form' %>
</div>
</div>
