<div class="page-header">
<div id="navi">
<ul class="nav nav-pills">
  <li role="presentation"><a href=<%= "/participants/#{@participant.id}/summary"%> >Summary</a></li>
  <li role="presentation" class="activeo"><a href=<%= "/participants/#{@participant.id}/profile" %> >Profile</a></li>
  <li role="presentation"><a href=<%= "/participants/#{@participant.id}/activities"%> >My Activity</a></li>
  <li role="presentation"><a href=<%= "/participants/#{@participant.id}/ideas" %> >My Ideas</a></li>
</ul>
</div>
</div>

<div>
  <strong>Participant:</strong>
  <%= form_for @participant, url: participant_profile_path(@participant), method: :patch do |f| %>
    <div class="form-group">
      <%= f.label :name, "Name" %>
      <%= f.text_field :name, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :nickname, "Nickname" %>
      <%= f.text_field :nickname, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :gender, "Gender" %>
      <%= f.text_field :gender, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :age, "Age" %>
      <%= f.text_field :age, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :phone, "Phone" %>
      <%= f.text_field :phone, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :address, "Address" %>
      <%= f.text_field :address, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :img_url, "Img_url" %>
      <%= f.text_field :img_url, class: "form-control" %>
    </div>

    <%= f.submit "Submit", { class: 'btn btn-default', disable_with: 'Submiting...' } %>

  <% end %>

</div>
