

<div id="profile">
  <ul>
    <div class="headpic"><%= image_tag(@organizer.avatar.url(:thumb), :class => "headpotrait") if @organizer.avatar? %></div>

    <h3 style="text-align:center;"><strong><%= @organizer.name %></strong></h3>
    <br>
    <h4 style ="text-align:center;">
      <span class="glyphicon glyphicon-user">&nbsp;Nick&nbsp;<%= @organizer.nickname %></span>&nbsp;&nbsp;&nbsp;&nbsp;
      <span class="glyphicon glyphicon-grain">&nbsp;Gender&nbsp;
      <% if @organizer.gender == 1%>
      <%= "M" %>
      <% elsif @organizer.gender == 0 %>
      <%= "F" %>
      <%end%>
      </span>&nbsp;&nbsp;&nbsp;&nbsp;
      <span class="glyphicon glyphicon-apple">&nbsp;Age&nbsp;<%= @organizer.age %></span>

    </h4>
    <br>
    <h4 style="text-align:center;"><span class="glyphicon glyphicon-phone">&nbsp;Phone&nbsp;<%= @organizer.phone %></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span class="glyphicon glyphicon-tree-deciduous">&nbsp;Address&nbsp;</span><%= @organizer.address %>
    </h4>

  </ul>

  <br>
  <br>
  <%= link_to "Edit", edit_organizer_profile_path(@organizer), 
      class: "edit btn btn-primary", remote: true %>
</div>
</div>




