<div class="page-header">
<div id="navi">
<ul class="nav nav-pills">
  <li role="presentation"><a href=<%= "/organizers/#{@organizer.id}/summary"%> >Summary</a></li>
  <li role="presentation" class="activeo"><a href=<%= "/organizers/#{@organizer.id}/profile" %> >Profile</a></li>
  <li role="presentation"><a href=<%= "/organizers/#{@organizer.id}/activities" %> >My Activity</a></li>
  <li role="presentation"><a href=<%= "/organizers/#{@organizer.id}/ideas" %> >Related Ideas</a></li>
</ul>
</div>
</div>

<div id="organizer-<%= @organizer.id %>">
  <%= render 'show' %>
</div>
