<!-- <h1>ParticipantActivities#show</h1>
<p>Find me in app/views/participant_activities/show.html.erb</p> -->

<!-- showing the details of a participant -->
<div>

  <div class="page-header" id="secondheader">
    <div id="navi">
    <ul class="nav nav-pills">
      <li role="presentation"><a href=<%= "/participants/#{current_participant[:id]}/summary"%>>Summary</a></li>
      <li role="presentation"><a href=<%= "/participants/#{current_participant[:id]}/profile"%>>Profile</a></li>
      <li role="presentation" class="activeo"><a href=<%= "/participants/#{current_participant[:id]}/activities"%>>My Activity</a></li>
      <li role="presentation"><a href=<%= "/participants/#{current_participant[:id]}/ideas"%>>My Ideas</a></li>
    </ul>
    </div>
  </div>
    


  <br>

  <% cache(cache_key_for_activities_all(@activities, 'participants/activities/index')) do %>

  <!-- showing the activities of a participant -->
  <% cache(cache_key_for_activities(@activities, "activity")) do %>
  
  <div class="container">
    <div class="row">
      <ul>
        <% @activities.each do |activity| %>

          <% cache(cache_key_for_activities_row(activity, 'participants/activities/index')) do %>

          <li id="activity-<%= activity.id %>">
            <div class="col-md-3">
              <a href=<%= "/participants/#{@participant.id}/activities/#{activity.id}"%>>
                <div class="thumbnail">
                  <%= image_tag(activity.avatar.url(:large)) if activity.avatar? %>
                  <div class="caption text-center">
                    <h4><%= activity.name %></h4>
                    <% @activity = activity %>
                    <% if @activities.exists? @activity %>
                      <%= render 'canclejoin' %>
                    <% else %>
                      <%= render 'join' %>
                    <% end %>
                  </div>
                </div>
              </a>
            </div>
          </li>

          <% end %>

        <% end %>
        <% end %>
      </ul>
    </div>
    <%= will_paginate @activities %>
  </div>

  <% end %>

</div>