<!-- <h1>ParticipantActivities#show</h1>
<p>Find me in app/views/participant_activities/show.html.erb</p> -->

<!-- showing the details of a participant -->


  <div class="page-header">
    <div id="navi">
    <ul class="nav nav-pills">
      <li role="presentation"><a href=<%= "/participants/#{current_participant[:id]}/summary"%>>Summary</a></li>
      <li role="presentation"><a href=<%= "/participants/#{current_participant[:id]}/profile"%>>Profile</a></li>
      <li role="presentation" class="activeo"><a href=<%= "/participants/#{current_participant[:id]}/activities"%>>My Activity</a></li>
      <li role="presentation"><a href=<%= "/participants/#{current_participant[:id]}/ideas"%>>My Ideas</a></li>
    </ul>
    </div>
    <!-- <div class="headpic"><%= image_tag(@participant.activities.find(1).img_url, class: 'headpotrait') %></div> -->
    <div class="headpic"><%= image_tag(@participant.avatar.url(:thumb), class: 'headpotrait') %></div>


  <br>
  <br>
  <!-- showing the activities of a participant -->
  <div class="container">
    <div class="row">
      <ul>
        <% @participant.activities.each do |activity| %>
          <li id="activity-<%= activity.id %>">
            <div class="col-md-3">
              <a class="thumbnail" href=<%= "/participants/#{@participant.id}/activities/#{activity.id}"%>><%= image_tag(activity.avatar.url(:large)) if activity.avatar? %>
              <div>
                <strong> Activity Name: </strong> <%= activity.name %>
                <%= link_to "Cancel", participant_activity_path(@participant, activity), 
                                method: :delete, remote: true %>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>