<div class="page-header" id="secondheader">
  <div id="navi">
  <ul class="nav nav-pills">
    <li role="presentation"><a href=<%= "/participants/#{current_participant[:id]}/summary"%>>Summary</a></li>
    <li role="presentation"><a href=<%= "/participants/#{current_participant[:id]}/profile"%>>Profile</a></li>
    <li role="presentation" class="activeo"><a href=<%= "/participants/#{current_participant[:id]}/activities"%>>My Activity</a></li>
    <li role="presentation"><a href=<%= "/participants/#{current_participant[:id]}/ideas"%>>My Ideas</a></li>
  </ul>
  </div>
</div>

<div class="container">
  <div class="headpic-big">
    <h1><%= @activity.name %></h1>
    <%= image_tag(@activity.avatar.url(:medium), :class => "headpotrait-big") if @activity.avatar? %>
    <div class="curveline"></div>
  </div>

  <div class="text-center">
    <% if @participant.activities.exists? @activity %>
        <%= render 'canclejoin' %>
    <% else %>
        <%= render 'join' %>
    <% end %>
    <br/>
    <div>
      <span class="glyphicon glyphicon-phone">&nbsp;Phone&nbsp;<%= @activity.phone %></span>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <span class="glyphicon glyphicon-tree-deciduous">&nbsp;Address&nbsp;<%= @activity.address %></span>
    </div>
    <br/>
    <div><%= @activity.description %></div>
  </div>
</div>


  