<div class="page-header" id="secondheader">
  <div id="navi">
  <ul class="nav nav-pills">
    <li role="presentation"><a href=<%= "/participants/#{current_participant[:id]}/summary"%>>Summary</a></li>
    <li role="presentation"><a href=<%= "/participants/#{current_participant[:id]}/profile"%>>Profile</a></li>
    <li role="presentation" class="activeo"><a href=<%= "/participants/#{current_participant[:id]}/activities"%>>My Activity</a></li>
    <li role="presentation"><a href=<%= "/participants/#{current_participant[:id]}/ideas"%>>My Ideas</a></li>
  </ul>
  </div>
</div>

<div class="container">
  <ul>
    <li>
      <header>Name</header>
      <div><%= @activity.name %></div>
    </li>
    <li>
      <header>Description</header>
      <div><%= @activity.description %></div>
    </li>
    <li>
      <header>Phone</header>
      <div><%= @activity.phone %></div>
    </li>
    <li>
      <header>Address</header>
      <div><%= @activity.address %></div>
    </li>
    <li>
      <header>Image</header>
      <%= image_tag(@activity.avatar.url(:medium)) if @activity.avatar? %>
    </li>
  </ul>

  <% if @participant.activities.exists? @activity %>
      <%= render 'canclejoin' %>
  <% else %>
      <%= render 'join' %>
  <% end %>
</div>