<div class="page-header">
<div id="navi">
<ul class="nav nav-pills">
  <% if participant_signed_in? %>
  <li role="presentation"><a href=<%= "/participants/#{current_participant[:id]}/summary"%>>Summary</a></li>
  <li role="presentation"><a href=<%= "/participants/#{current_participant[:id]}/profile"%>>Profile</a></li>
  <li role="presentation"><a href=<%= "/participants/#{current_participant[:id]}/activities"%>>My Activity</a></li>
  <li role="presentation"><a href=<%= "/participants/#{current_participant[:id]}/ideas"%>>My Ideas</a></li>
  <% end %>
  <% if organizer_signed_in?%>
    <li role="presentation"><a href=<%= "/participants/#{current_organizer[:id]}/summary"%>>Summary</a></li>
    <li role="presentation"><a href=<%= "/participants/#{current_organizer[:id]}/profile"%>>Profile</a></li>
    <li role="presentation"><a href=<%= "/participants/#{current_organizer[:id]}/activities"%>>My Activity</a></li>
    <li role="presentation"><a href=<%= "/participants/#{current_organizer[:id]}/ideas"%>>My Ideas</a></li>
  <% end %>
</ul>
</div>
</div>

<div class="container">
  <ul>
    <% @ideas.each do |idea| %>
      <li id="idea-<%= idea.id %>">
        <div><%= idea.title %></div>
        <div><%= idea.description %></div>
        <%= link_to "", idea_path(idea, like: true), method: :patch,
          class: "glyphicon glyphicon-heart-empty", remote: true %>
      </li>
    <% end %>
  </ul>
</div>