<%= form_for @idea, url: participant_ideas_or_idea_path(@participant, @idea) do |f| %>
  <div class="form-group">
    <%= f.label :title, "Title" %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description, "Description" %>
    <%= f.text_field :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :tag_names, "Tag" %>
    <%= f.text_field :tag_names, class: "form-control", 'data-role'=>'tagsinput' %>
  </div>

  <div class="form-group" id="all_tags">
    <% for tag in @all_tags do %>
      <button type="button" class="btn btn-default"><%= tag.name %></button>
    <% end %>
  </div>

  <%= f.submit "Submit", { class: 'btn btn-primary', disable_with: 'Submiting...' } %>
  <%= link_to "Cancel", participant_ideas_or_idea_path(@participant, @idea), 
      class: 'btn btn-default', remote: true %>
<% end %>

<script type="text/javascript">
  $('*[data-role=tagsinput]').tagsinput({
    // freeInput: true,
    trimValue: true
  });

  $('#all_tags button').click(function() {
    new_tag_name = $(this).text();
    $('#idea_tag_names').tagsinput('add', new_tag_name);
  });
</script>

