<div class="page-header" id="secondheader">
<div id="navi">
<ul class="nav nav-pills">
  <li role="presentation"><a href=<%= "/participants/#{current_participant[:id]}/summary"%>>Summary</a></li>
  <li role="presentation"><a href=<%= "/participants/#{current_participant[:id]}/profile"%>>Profile</a></li>
  <li role="presentation"><a href=<%= "/participants/#{current_participant[:id]}/activities"%>>My Activity</a></li>
  <li role="presentation" class="activeo"><a href=<%= "/participants/#{@participant.id}/ideas"%>>My Ideas</a></li>
</ul>
</div>
</div>

<div class="container row">
  <div class="col-md-offset-3 col-md-6">
  <ul>
    <% @ideas.each do |idea| %>
      <li id="idea-<%= idea.id %>">
        <div class="my-ideas">
            <span class="my-idea-title">
              <%= link_to idea.title, edit_participant_idea_path(@participant, idea) %>
            </span>
            <span class="glyphicon glyphicon-trash">
            </span>
            <ul class="idea-tagslist">
              <% idea.tags.each do |tag| %>
                <li class="idea_tags">
                  <%= tag.name %>
                </li>
              <% end %>
            </ul>
            <div class="clear"><div>
            <pre><%= idea.description %></pre>
        </div>
      </li>
    <% end %>
  </ul>
  </div>
</div>
