<div class="page-header" id="secondheader">
<div id="navi">
<ul class="nav nav-pills">
  <li role="presentation" class="activeo"><a href=<%= "/organizers/#{@organizer.id}/summary"%> >Summary</a></li>
  <li role="presentation"><a href=<%= "/organizers/#{@organizer.id}/profile" %> >Profile</a></li>
  <li role="presentation"><a href=<%= "/organizers/#{@organizer.id}/activities"%> >My Activity</a></li>
  <li role="presentation"><a href=<%= "/organizers/#{@organizer.id}/ideas" %> >Related Ideas</a></li>
</ul>
</div>
</div>



<!-- showing the summary of a participant -->
<div class="container">
<div class="row">
	<div class="summary-profile">
		<h3><%= @organizer.name%></h3>
		<h4><span class="glyphicon glyphicon-map-marker"></span>&nbsp
			Los Angeles &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
			<span class="glyphicon glyphicon-grain"></span>
			<%= @organizer.email%>
		</h4>
	</div>
	
	<div class="summary-activity">
		<h4>My Activity</h4>
		<% @activities.each do |activity|%>
			<div class="col-md-3">
			  <a class="thumbnail" href=<%= "/organizers/#{@organizer.id}/activities/#{activity.id}" %> >
			  	  <%= image_tag(activity.avatar.url(:large)) if activity.avatar? %>
			  </a>  
			  <p>
			  	<strong> Activity Name: </strong>
			    <%= activity.name%>
			  </p>  
			</div>
		<% end %>
		<div class= "clear"></div>
	</div>

	<div class= "clear"></div>

	<div class="summary-idea">
		<h4>Related Ideas</h4>
		<% @ideas.each do |idea| %>
			<p><%= idea.title %></p>
		<% end %>
	</div>    
	<div class= "clear"></div>
</div>
</div>