<div class="page-header" id="secondheader">
<div id="navi">
<ul class="nav nav-pills">
  <li role="presentation" class="activeo"><a href=<%= "/organizers/#{@organizer.id}/summary"%> >Summary</a></li>
  <li role="presentation"><a href=<%= "/organizers/#{@organizer.id}/profile" %> >Profile</a></li>
  <li role="presentation"><a href=<%= "/organizers/#{@organizer.id}/activities"%> >My Activity</a></li>
  <li role="presentation"><a href=<%= "/organizers/#{@organizer.id}/ideas" %> >Related Ideas</a></li>
</ul>
</div>
</div>

<!-- showing the summary of a participant -->
<div class="container">
	<div class="summary-profile">
		<div class="headpic">
			<%= image_tag(@organizer.avatar.url(:thumb), :class => "headpotrait") if @organizer.avatar? %>
		</div>
		<br>
		<h3 class="h4"><%= @organizer.name.capitalize%></h3>
		<h5><span class="glyphicon glyphicon-map-marker"></span>&nbsp;
			Los Angeles &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<span class="glyphicon glyphicon-grain"></span>
			<%= @organizer.email%>
		</h5>
	</div>

  <% cache(cache_key_for_activities_all(@activities, "organizers/summary")) do %>
	
	<div class="summary-activity">
    <h5>&nbsp;</h5>
		<h4 class="h4">MY ACTIVITY</h4>
    <h4>&nbsp;</h4>

    <div class="row">
		<% @activities.each do |activity|%>

      <% cache(cache_key_for_activities_row(activity, "participants/summary")) do %>

			<div class="col-md-3">
        <a href=<%= "/organizers/#{@organizer.id}/activities/#{activity.id}" %> >
  				<div class="thumbnail">
  		  	  <%= image_tag(activity.avatar.url(:large)) if activity.avatar? %>
      		  <div class="caption text-center">
              <h4><%= activity.name%></h4>
            </div>
          </div>
        </a>
		  </div>

      <% end %>

		<% end %>
	 </div>
  </div>

  <% end %>

  <% cache(cache_key_for_ideas_all(@ideas.limit(4), "organizers/summary")) do %>

  <div class="allidea">
    <h5>&nbsp;</h5>
    <h4 class="h4">IDEAS</h4>
    <div class="row">
      <% if @ideas.length > 0 %>
        <div class="col-md-3">
        <% @idea = @ideas[0] %>
        <%= link_to ideas_path(idea_id: @idea.id) do %>
          <div class="idea idea4">     
            <%= image_tag(("4.png"), :class => "pegen") %>
            <p class="text-center text1" data-toggle="tooltip" data-placement="top" title="<%= @idea.description%>">
              <%= @idea.title %>
            </p> 
          </div>
        <% end %>
        </div>
      <% end %>
    
      <% if @ideas.length > 1 %>
        <div class="col-md-3">
        <% @idea = @ideas[1] %>
        <%= link_to ideas_path(idea_id: @idea.id) do %>
        <div class="idea idea5" >     
          <%= image_tag(("1.png"), :class => "pegen") %>
          <p class="text-center text2" data-toggle="tooltip" data-placement="top" title="<%= @idea.description%>">
            <%= @idea.title %>
          </p>
        </div> 
        <% end %>
      </div>
      <% end %>

      <% if @ideas.length > 2 %>
        <div class="col-md-3">
        <% @idea = @ideas[2] %>
        <%= link_to ideas_path(idea_id: @idea.id) do %>
        <div class="idea idea6">     
          <%= image_tag(("2.png"), :class => "pegen") %>
          <p class="text-center text3" data-toggle="tooltip" data-placement="top" title="<%= @idea.description%>">
            <%= @idea.title %>
          </p>
        </div>
        <% end %>
      </div>
      <% end %>

      <% if @ideas.length > 3%>
        <div class="col-md-3">
        <% @idea = @ideas[3] %>
        <%= link_to ideas_path(idea_id: @idea.id) do %>
        <div class="idea idea7">     

          <%= image_tag(("3.png"), :class => "pegen") %>
          <p class="text-center text4" data-toggle="tooltip" data-placement="top" title="<%= @idea.description%>">
            <%= @idea.title %>
          </p>
        </div>  
        <% end %>
      </div>
      <% end %>
    </div>
  </div>

  <% end %>

</div>

<script type="text/javascript">
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>