
<!-- showing the details of a participant -->
<p>
  <strong>Participant Name:</strong>
  <%= @participant.name %>
</p>


<!-- showing the activities of a participant -->


<% @participant.activities.each do |each_a| %>
  <p>
  	<strong> Activity Name: </strong>
    <%= each_a.name%>
  </p>    
<% end %>


<!-- cancel the participation of an activity -->
<!-- 
<%= form_for @participant, url: {action: "delete_participant_activity"} do |f| %>
  <%= f.text_field :id%>
  <%= f.text_field :name%>
  <%= submit_tag 'delete_participant_activity'%>
<% end %> -->

<%= form_tag("/participants/delete_participant_activity", method: "delete") do %>
  <%= label_tag(:id, "Your id:") %>
  <%= text_field_tag(:id) %>
  <%= label_tag(:a_id, "unparticipate which:") %>
  <%= text_field_tag(:a_id) %>
  <%= submit_tag("Confirm") %>
<% end %>
