<!-- showing the details of a participant -->
<p>
  <strong>Participant Name:</strong>
  <%= @participant.name %>
</p>


<!-- showing the activities of a participant -->

<div id="show_activities">
  <ul>
    <h4>Activities</h4>
    <% @participant.activities.each do |activity| %>
        <li id="activity-<%= activity.id %>">
          Name: <%= activity.name %>
          <%= link_to "Cancel", [:cancel_activity, activity_id: activity], 
                                method: :delete, remote: true %>
        </li>
    <% end %>
  </ul>
</div>

<!-- cancel the participation of an activity -->


<%= form_tag("/participants/delete_participant_activity", method: "delete") do %>
  <%= label_tag(:id, "Your id:") %>
  <%= text_field_tag(:id) %>
  <%= label_tag(:a_id, "unparticipate which:") %>
  <%= text_field_tag(:a_id) %>
  <%= submit_tag("Confirm") %>
<% end %>
