<div class="page-header" id="secondheader">
<div id="navi">
<ul class="nav nav-pills">
  <li role="presentation" class="activeo"><a href=<%= "/participants/#{@participant.id}/summary"%>>Summary</a></li>
  <li role="presentation"><a href=<%= "/participants/#{@participant.id}/profile"%>>Profile</a></li>
  <li role="presentation"><a href=<%= "/participants/#{@participant.id}/activities"%>>My Activity</a></li>
  <li role="presentation"><a href=<%= "/participants/#{@participant.id}/ideas"%>>My Ideas</a></li>
</ul>
</div>
</div>



<!-- showing the summary of a participant -->
<div class="container">
<div class="row">
	<div class="summary-profile">
		<div class="headpic">
			<%= image_tag(@participant.avatar.url(:thumb), :class => "headpotrait") if @participant.avatar? %>
		</div>
		<br>
		<h3><%= @participant.name%></h3>
		<h5><span class="glyphicon glyphicon-map-marker"></span>&nbsp;;
			Los Angeles &nbsp;;&nbsp;;&nbsp;;&nbsp;;&nbsp;;&nbsp;;
			<span class="glyphicon glyphicon-grain"></span>
			<%= @participant.email%>
		</h5>
		<br>
	</div>
	
	<div class="summary-activity">
		<h5>&nbsp;</h5>
    <h4 class="h4">MY ACTIVITY</h4>
    <h4>&nbsp;</h4>

		<% @activities.each do |activity|%>
			<div class="col-md-3">
        <a href=<%= "/participants/#{@participant.id}/activities/#{activity.id}" %>>
				  <div class="thumbnail">
				  	<%= image_tag(activity.avatar.url(:large)) if activity.avatar? %>
  				  <div class="caption text-center">
  					  <h4><%= activity.name%></h4>
  				  </div>
				  </div>
        </a>
			</div>
		<% end %>
		<div class= "clear"></div>

	</div>
    
    <div class= "clear"></div>


<div class="allidea">
  <h5>&nbsp;</h5>
  <h4 class="h4">MY IDEAS</h4>
  <%if @ideas.length > 0 %>
  <div class="idea idea4">     
        <%= image_tag(("4.png"), :class => "pegen") %>
        <p class="text-center text1" data-toggle="tooltip" data-placement="top" title="<%= @ideas[0].description%>">
    <%= @ideas[0].title %>
        </p>
   <% end %>

      
  </div> 
  <%if @ideas.length > 1 %>
  <div class="idea idea5" >     
        <%= image_tag(("5.png"), :class => "pegen") %>
        <p class="text-center text2" data-toggle="tooltip" data-placement="top" title="<%= @ideas[1].description%>">
          <%= @ideas[1].title %>
        </p>
      
  </div> 
  <% end %>
  <%if @ideas.length >2 %>

  <div class="idea idea6">     
        <%= image_tag(("6.png"), :class => "pegen") %>
        <p class="text-center text3" data-toggle="tooltip" data-placement="top" title="<%= @ideas[2].description%>">
          <%= @ideas[2].title %>
        </p>
      
  </div>
  <% end %>

  <%if @ideas.length >3 %>

  <div class="idea idea7">     
        <%= image_tag(("7.png"), :class => "pegen") %>
        <p class="text-center text3" data-toggle="tooltip" data-placement="top" title="<%= @ideas[3].description%>">
          <%= @ideas[3].title %>
        </p>
      
  </div>
  <% end %>

  <div class="clear"></div>
  <br>
  <br>
  <br>
</div>
 <div class="clear"></div>

</div>

<script type="text/javascript">
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
</div>


