<ul>
  <li>Name: <%= @activity.name %></li>
  <li>Description: <%= @activity.description %></li>
  <li>Phone: <%= @activity.phone %></li>
  <li>Address: <%= @activity.address %></li>
  <li>Start Time: <%= @activity.start_time %></li>
  <li>End Time: <%= @activity.end_time %></li>
  <li>Scale: <%= @activity.scale %></li>
  <li>Email: <%= @activity.email %></li>
</ul>

