<div class="container">
  <div class="row">
    <div class= "col-sm-6 col-md-4 col-md-offset-4">
      <%= form_for @activity, url: organizer_activity_path, :html => {:multipart => true, method: :patch} do |f| %>
        <div class="form-group">
          <%= f.label :name, "Name" %>
          <%= f.text_field :name, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :email, "Email" %>
          <%= f.email_field :email, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :phone, "Phone" %>
          <%= f.telephone_field :phone, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :address, "Address" %>
          <%= f.text_field :address, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :description, "Description" %>
          <%= f.text_area :description, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :avatar_url, "Image" %>
          <%= image_tag(@activity.avatar_url, :size => "260x180") if @activity.avatar? %>
          <%= f.file_field :avatar %>
          <%= f.hidden_field :avatar_cache %>
        </div>

        <div class="form-group">
          <%= f.label :tag_names, "Tag" %>
          <%= f.text_field :tag_names, class: "form-control", 'data-role'=>'tagsinput' %>
        </div>

        <div class="form-group" id="all_tags">
          <% for tag in @all_tags do %>
            <button type="button" class="btn btn-default"><%= tag.name %></button>
          <% end %>
        </div>

        <%= f.submit "Submit", { class: 'btn btn-default', disable_with: 'Submiting...' } %>

      <% end %>
    </div> 
  </div>
</div>


<script type="text/javascript">
  //$('*[data-role=tagsinput]').tagsinput();

  $('*[data-role=tagsinput]').tagsinput({
    // freeInput: true,
    trimValue: true
    });
    $('#all_tags button').click(function() {
      new_tag_name = $(this).text();
      $('#activity_tag_names').tagsinput('add', new_tag_name);
    });
</script>

