<div class="page-header" id="secondheader">
<div id="navi">
<ul class="nav nav-pills">
  <li role="presentation"><a href=<%= "/organizers/#{@organizer.id}/summary"%> >Summary</a></li>
  <li role="presentation"><a href=<%= "/organizers/#{@organizer.id}/profile" %> >Profile</a></li>
  <li role="presentation" class="activeo"><a href=<%= "/organizers/#{@organizer.id}/activities"%> >My Activity</a></li>
  <li role="presentation"><a href=<%= "/organizers/#{@organizer.id}/ideas" %> >Related Ideas</a></li>
</ul>
</div>
</div>

<br>

<!-- showing the activities of an organizer -->

<% cache(cache_key_for_activities_all(@activities, 'organizers/#{@organizer.id}/activities/index')) do %>

<div class="container">
  <div class="row">
    <% @activities.each do |activity| %>

      <% cache(cache_key_for_activities_row(activity, 'organizers/#{@organizer.id}/activities/index')) do %>

    	<div class="col-md-3">
        <a href=<%= "/organizers/#{@organizer.id}/activities/#{activity.id}" %> >
    		  <div class="thumbnail">
      	  	<%= image_tag(activity.avatar.url(:large)) if activity.avatar? %>
        	  <div class="caption text-center">
        	    <h4><%= activity.name%></h4>
      	   </div>
          </div>
        </a> 
    	</div>

      <% end %>

    <% end %>
  </div>
  <%= will_paginate @activities %>
</div>

<% end %>
