<div class="page-header" id="secondheader">
<div id="navi">
<ul class="nav nav-pills">
  <li role="presentation"><a href=<%= "/organizers/#{@organizer.id}/summary"%> >Summary</a></li>
  <li role="presentation"><a href=<%= "/organizers/#{@organizer.id}/profile" %> >Profile</a></li>
  <li role="presentation" class="activeo"><a href=<%= "/organizers/#{@organizer.id}/activities"%> >My Activity</a></li>
  <li role="presentation"><a href=<%= "/organizers/#{@organizer.id}/ideas" %> >My Ideas</a></li>
</ul>
</div>
</div>





<br>


<!-- showing the activities of an organizer -->
<div class="container">
<div class="row">
<% @organizer.activities.each do |activity| %>
	<div class="col-md-3">
		<div class="thumbnail">
	  <a href=<%= "/organizers/#{@organizer.id}/activities/#{activity.id}" %> >
	  	  <%= image_tag(activity.avatar.url(:large)) if activity.avatar? %>
	  </a>  
	  <div class="caption">
	  <p class="text-center">
	    <%= activity.name%>
	  </p>
	</div>
	</div>
 </div>
<% end %>
</div>
</div>
</div>