<div class="page-header" id="secondheader">
<div id="navi">
<ul class="nav nav-pills">
  <li role="presentation"><a href=<%= "/organizers/#{@organizer.id}/summary"%> >Summary</a></li>
  <li role="presentation"><a href=<%= "/organizers/#{@organizer.id}/profile" %> >Profile</a></li>
  <li role="presentation" class="activeo"><a href=<%= "/organizers/#{@organizer.id}/activities"%> >My Activity</a></li>
  <li role="presentation"><a href=<%= "/organizers/#{@organizer.id}/ideas" %> >Related Ideas</a></li>
</ul>
</div>
</div>



<br>


<!-- showing the activities of an organizer -->
<div class="container">
<div class="row">
<% @organizer.activities.each do |activity| %>
	<div class="col-md-3">
    <a href=<%= "/organizers/#{@organizer.id}/activities/#{activity.id}" %> >
		  <div class="thumbnail">
  	  	<%= image_tag(activity.avatar.url(:large)) if activity.avatar? %>
    	  <div class="caption text-center">
    	    <h4><%= activity.name%></h4>
  	   </div>
      </div>
    </a> 
	</div>
	</div>
  <% end %>

 </div>
</div>
</div>
</div>