<div class="page-header" id="secondheader">
  <div id="navi">
  <ul class="nav nav-pills">
    <li role="presentation"><a href=<%= "/organizers/#{current_organizer[:id]}/summary"%>>Summary</a></li>
    <li role="presentation"><a href=<%= "/organizers/#{current_organizer[:id]}/profile"%>>Profile</a></li>
    <li role="presentation" class="activeo"><a href=<%= "/organizers/#{current_organizer[:id]}/activities"%>>My Activity</a></li>
    <li role="presentation"><a href=<%= "/organizers/#{current_organizer[:id]}/ideas"%>>My Ideas</a></li>
  </ul>
  </div>
</div>

<div class="container">
  <div class="headpic-big">
    <h1><%= @activity.name %></h1>
    <%= image_tag(@activity.avatar.url(:medium), :class => "headpotrait-big") if @activity.avatar? %>
  </div>

  <div>
    <%= @activity.description %>
  </div>
</div>

<br><br><br><br><br>


<div class="container">
  <div class="row">
    <div class= "col-sm-6 col-md-4 col-md-offset-4">
      <div id="activity-<%= @activity.id %>">
        <%= render 'show' %>
      </div>
    </div> 
  </div>
</div>



