<div class="page-header" id="secondheader">
  <div id="navi">
  <ul class="nav nav-pills">
    <li role="presentation"><a href=<%= "/organizers/#{current_organizer[:id]}/summary"%>>Summary</a></li>
    <li role="presentation"><a href=<%= "/organizers/#{current_organizer[:id]}/profile"%>>Profile</a></li>
    <li role="presentation" class="activeo"><a href=<%= "/organizers/#{current_organizer[:id]}/activities"%>>My Activity</a></li>
    <li role="presentation"><a href=<%= "/organizers/#{current_organizer[:id]}/ideas"%>>Related Ideas</a></li>
  </ul>
  </div>
</div>

<div class="container">
  <div class="headpic-big">
    <h2 style="font-family:Century Gothic, CenturyGothic, AppleGothic, sans-serif;"><%= @activity.name %></h2>
    <%= image_tag(@activity.avatar.url(:large), :class => "headpotrait-big") if @activity.avatar? %>
    <div class="curveline"></div>
  </div>


  <div class="text-center">
    <%= link_to "EDIT", edit_organizer_activity_path(@organizer, @activity) %>
    <br/><br/>
    <div>
      <span class="glyphicon glyphicon-phone">&nbsp;Phone&nbsp;<%= @activity.phone %></span>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <span class="glyphicon glyphicon-tree-deciduous">&nbsp;Address&nbsp;<%= @activity.address %></span>
    </div>
    <br/>
    <div><%= @activity.description %></div>
  </div>
</div>



