<div class="page-header" id="secondheader">
<div id="navi">
<ul class="nav nav-pills">
  <li role="presentation"><a href=<%= "/organizers/#{current_organizer[:id]}/summary"%>>Summary</a></li>
  <li role="presentation"><a href=<%= "/organizers/#{current_organizer[:id]}/profile"%>>Profile</a></li>
  <li role="presentation"><a href=<%= "/organizers/#{current_organizer[:id]}/activities"%>>My Activity</a></li>
  <li role="presentation" class="activeo"><a href=<%= "/organizers/#{@organizer.id}/ideas"%>>Related Ideas</a></li>
</ul>
</div>
</div>

<% cache(cache_key_for_ideas_all(@ideas, 'organizers/ideas')) do %>

<div class="row idea-body">
  <div class="col-md-offset-2 col-md-8 timeborder">
    <br>
    <ul>
      <% @ideas.each do |idea| %>

        <% cache(cache_key_for_ideas_row(idea, 'organizers/ideas')) do %>

        <li id="idea-<%= idea.id %>" class="ideas-entry">
          <div class="ideas-participant">
          <div class="ideas-participant-pic">
             <%= image_tag(idea.participant.avatar.url(:thumb)) if idea.participant.avatar? %>
          </div>
          <div class="ideas-paricipant-name">
              <%= idea.participant.name %>
          </div>
          </div>
          <div class="ideas-title">
            <%= idea.title %>
            <div class="ideas-time-nolike">
              <%= idea.created_at %>
            </div>
            <div class="ideas-like-quantity">
              +<%= idea.stars %>
            </div>
          </div>
          <div class="ideas-participant-body">
            <div class="ideas-tagslists">
              <ul>
                <% idea.tags.each do |tag| %>
                  <li class="idea_tags">
                    <%= tag.name %>
                  </li>
                <% end %>
              </ul>
            </div>
            <pre class="idea-text"><%= idea.description %></pre>
            <div class="clear"></div>
          </div>
        </li>

        <% end %>

      <% end %>
    </ul>
  <br>
  </div>
  <%= will_paginate @ideas %>
</div>

<% end %>